name: Test
on:
  pull_request:
    paths:
      - '**/*.js'
      - 'package*.json'

jobs:
  jest:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: npm install
      - run: npm run test
